* {
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* VERSION MOBILE */

/* NAV  MOBILE */
nav {
    grid-area: nav_bar;
    background:rgb(43, 75, 255);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}
nav > div {
    display: flex;
    align-items: center;
    padding-left: 25px;
}
nav h4 {
    padding-left: 15px;
    margin-bottom: 0;
}
nav > i {
    display: flex;
    padding-right: 25px;
}
nav > ul {
    display: none;
}

/* BLOQUE FILTROS MOBILE*/
.filtros {
    grid-area: filtros;
    background-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.filtros div p {
    padding-top: 10px;
    margin-bottom: 0;
}
.filtros select {
    margin-bottom: 10px;
    width: 50%;
    background-color: white;
    border: solid 1px gray;
    height: 25px;
    padding-left: 10px;
}
/* GRILLA DE AUTOS MOBILE */
.grilla_autos {
    grid-area: grilla_autos;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
.auto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 310px;
    border: solid 1px rgb(208, 208, 208);
    border-radius: 5px;
    
}
.auto p {
    margin-bottom: 0px;
}
.auto img {
        width: 200px;
        border-radius: 5px;
}
.auto button {
    background:rgb(43, 75, 255);
    color: white;
    width: 80px;
    padding: 1px;
    border: solid 1px black;
    border-radius: 5px;
}
/* PAGINACION MOBILE*/
.paginas {
    grid-area: paginas;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}
/* FOOTER MOBILE*/
footer {
    grid-area: footer;
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    height: 50px;
}


/* GRID MOBILE*/
.grid_container {
    display: grid;
    grid-template-rows: 10% 10% 60% 10%;
    grid-template-areas: 
    "nav_bar"
    "filtros"
    "grilla_autos"
    "paginas"
    "footer";
}

/* VERSION TABLET */


@media (min-width: 576px) {
    /* NAV_BAR TABLET */
    
    nav > ul {
        display: block;
        list-style-type: none;
        display: flex;
        margin-bottom: 0;
        gap: 20px;
        padding-right: 20px;
    }
    nav > .fa-solid {
        display: none;
    }

    /* FILTROS TABLET */
    .filtros {
        width: 100%;
        padding-top: 10px;
    }

    .filtros select {
        margin-top: 10px;
        width: 90%;
    }


    /* GRID TABLET */
    .grid_container {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 10% 70% 10% 10% ;
        grid-template-areas: 
        "nav_bar nav_bar"
        "filtros grilla_autos"
        "filtros paginas"
        "footer footer";
    }    

}

/* VERSION DESKTOP */

@media (min-width: 992px) {
    
    /* BLOQUE FILTROS DESKTOP */
    .filtros {
        height: 80px;
    }

    .filtros select {
        width: 80%;
}
    /* NAV  DESKTOP */
nav {
    height: 100vh;
    min-height: auto;
    flex-direction: column;
    justify-content: flex-start;
}
nav div {
    padding: 0;
    padding-top: 20px;
}

nav > ul {
    display: block;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    padding-top: 20px;
}
nav > .fa-solid {
    display: none;
}

    /* FOOTER DESKTOP */
footer {
    grid-area: footer;
    text-align: center;
    height: 100%;
}

    /* PAGINACION DESKTOP*/
.paginas {
    grid-area: paginas;
}

/* GRID DESKTOP */
    .grid_container {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-areas: 
        "nav_bar filtros"
        "nav_bar grilla_autos"
        "footer paginas";
    }
    
}




